# Import the data set

In [32]:
#import the libraries

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#to find out where my working directory is
import os
print(os.getcwd())

# convert scientific notation to decimals
pd.set_option('display.float_format', lambda x: '%.2f' % x)

/Users/jacobjablonski/Documents/Education/Concordia/Big Data Diploma/CEBD 1260/Homework/Assignment 2/Code/Data Prep

In [36]:
#1.1 import data set
df = pd.read_csv('indicators.csv')

# Summarize for inspection

In [42]:
#2.1 summarize data for inspection 

#lets take a look at the head of the set
print(df.columns)
print(df.head())

#How many rows in this data set? - 5656458
count_row = df.shape[0]
print(count_row)

Index(['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year',
       'Value'],
      dtype='object')
  CountryName CountryCode                                      IndicatorName  \
0  Arab World         ARB  Adolescent fertility rate (births per 1,000 wo...
1  Arab World         ARB  Age dependency ratio (% of working-age populat...
2  Arab World         ARB  Age dependency ratio, old (% of working-age po...
3  Arab World         ARB  Age dependency ratio, young (% of working-age ...
4  Arab World         ARB        Arms exports (SIPRI trend indicator values)

    IndicatorCode                          Year      Value
0     SP.ADO.TFRT 1970-01-01 00:00:00.000001960     133.56
1     SP.POP.DPND 1970-01-01 00:00:00.000001960      87.80
2  SP.POP.DPND.OL 1970-01-01 00:00:00.000001960       6.63
3  SP.POP.DPND.YG 1970-01-01 00:00:00.000001960      81.02
4  MS.MIL.XPRT.KD 1970-01-01 00:00:00.000001960 3000000.00
5656458

In [39]:
#2.2 no need to fix my column names - they are all easy to code
#2.3 All columns are relevent for the moment - no need to delete

In [41]:
#How many unique country names - 247
df['CountryName'].value_counts()

Mexico                       37244
Colombia                     37227
Philippines                  36912
Peru                         36815
Costa Rica                   36457
Thailand                     36355
Morocco                      36275
Indonesia                    36252
Malaysia                     35874
Turkey                       35819
Ecuador                      35788
Pakistan                     35768
India                        35721
Brazil                       35550
Egypt, Arab Rep.             35367
Bolivia                      35307
Tunisia                      35302
Honduras                     35171
Guatemala                    35078
El Salvador                  34739
Kenya                        34621
Algeria                      34578
Cameroon                     34259
Dominican Republic           34253
Jordan                       34050
Senegal                      33990
Panama                       33984
Nicaragua                    33638
Bangladesh                   33386
Sri Lanka                    33369
                             ...
West Bank and Gaza           11735
Timor-Leste                   9461
Bermuda                       8765
New Caledonia                 8352
French Polynesia              7979
Korea, Dem. Rep.              7934
Aruba                         7607
Micronesia, Fed. Sts.         7126
Kosovo                        6851
Palau                         5896
Marshall Islands              5764
Tuvalu                        5683
San Marino                    5020
Greenland                     4967
Andorra                       4921
Faeroe Islands                4691
Virgin Islands (U.S.)         4302
Liechtenstein                 4282
Guam                          4265
Cayman Islands                4006
Monaco                        3881
South Sudan                   3667
Turks and Caicos Islands      2840
American Samoa                2802
Channel Islands               2739
Northern Mariana Islands      1942
Isle of Man                   1764
Curacao                       1564
Sint Maarten (Dutch part)      681
St. Martin (French part)       572
Name: CountryName, Length: 247, dtype: int64

In [43]:
#Frequency of unique indicator names? 
df['IndicatorName'].value_counts()

Population, total                                                                                                    13484
Population growth (annual %)                                                                                         13442
Rural population (% of total population)                                                                             13415
Urban population (% of total)                                                                                        13415
Rural population                                                                                                     13374
Urban population                                                                                                     13374
Urban population growth (annual %)                                                                                   13337
Surface area (sq. km)                                                                                                13090
Land area (sq. km)                                                                                                   13086
Rural population growth (annual %)                                                                                   13061
Population density (people per sq. km of land area)                                                                  12988
Death rate, crude (per 1,000 people)                                                                                 12486
Birth rate, crude (per 1,000 people)                                                                                 12485
Adolescent fertility rate (births per 1,000 women ages 15-19)                                                        12485
Population, female (% of total)                                                                                      12426
Population ages 65 and above (% of total)                                                                            12426
Population, ages 15-64 (% of total)                                                                                  12426
Population, ages 0-14 (% of total)                                                                                   12426
Age dependency ratio, old (% of working-age population)                                                              12423
Age dependency ratio (% of working-age population)                                                                   12423
Age dependency ratio, young (% of working-age population)                                                            12423
Life expectancy at birth, male (years)                                                                               12304
Life expectancy at birth, female (years)                                                                             12304
Life expectancy at birth, total (years)                                                                              12304
Fertility rate, total (births per woman)                                                                             12266
Survival to age 65, male (% of cohort)                                                                               12258
Survival to age 65, female (% of cohort)                                                                             12258
Mortality rate, adult, male (per 1,000 male adults)                                                                  11939
Mortality rate, adult, female (per 1,000 female adults)                                                              11939
Agricultural land (sq. km)                                                                                           11751
                                                                                                                     ...
Child employment in agriculture, male (% of male economically active children ages 7-14)                               122
Child employment in services, male (% of male economically active children ages 7-14)                                  122
Child employment in manufacturing, male (% of male economically active children ages 7-14)                             120
Child employment in manufacturing, female (% of female economically active children ages 7-14)                         120
Present value of external debt (current US$)                                                                           118
Child employment in services (% of economically active children ages 7-14)                                             114
Child employment in agriculture (% of economically active children ages 7-14)                                          114
Coverage (%) - All Labor Market                                                                                        114
Net official flows from UN agencies, UNECE (current US$)                                                               114
Child employment in manufacturing (% of economically active children ages 7-14)                                        113
Present value of external debt (% of GNI)                                                                              100
Point-of-sale terminals (per 100,000 adults)                                                                           100
Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)       94
Annualized average growth rate in per capita real survey mean consumption or income, total population (%)               94
Average working hours of children, study and work, ages 7-14 (hours per week)                                           90
Average working hours of children, study and work, male, ages 7-14 (hours per week)                                     90
Average working hours of children, study and work, female, ages 7-14 (hours per week)                                   90
Average working hours of children, working only, ages 7-14 (hours per week)                                             85
Presence of peace keepers (number of troops, police, and military observers in mandate)                                 85
Average working hours of children, working only, male, ages 7-14 (hours per week)                                       85
Disaster risk reduction progress score (1-5 scale; 5=best)                                                              83
Average working hours of children, working only, female, ages 7-14 (hours per week)                                     83
Children in employment, self-employed, female (% of female children in employment, ages 7-14)                           70
Children in employment, self-employed, male (% of male children in employment, ages 7-14)                               70
Children in employment, self-employed (% of children in employment, ages 7-14)                                          70
Present value of external debt (% of exports of goods, services and primary income)                                     69
Benefits incidence in poorest quintile (%) - All Labor Market                                                           67
Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)                               67
Survey mean consumption or income per capita, total population (2005 PPP $ per day)                                      8
Survey mean consumption or income per capita, bottom 40% of population (2005 PPP $ per day)                              8
Name: IndicatorName, Length: 1344, dtype: int64

In [45]:
#2.4 converting data types

df['Year'] = pd.to_datetime(df['Year'])

In [46]:
#2.5 removing duplicates - there are no duplicates

print(df.isnull().sum())
print('')

CountryName      0
CountryCode      0
IndicatorName    0
IndicatorCode    0
Year             0
Value            0
dtype: int64

# Major Tasks

In [50]:
#3.1 select all the rows with missing values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [CountryName, CountryCode, IndicatorName, IndicatorCode, Year, Value]
Index: []

In [ ]:
#3.2 Removing outliers doesnt make sense at this point since I have not defined a business problem
#3.3 No other data set to merge with right now